<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>量化分首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Program_required_style.css">
    <link rel="stylesheet" href="/static/el_button.css">
    <style>

    </style>
</head>

<body>
    <div class="sidebar">
        <ul>
            <h2 class="container">{{username}}</h2>
            <h1 class="graycolor container">功能</h1>
            <li><a href= "/home">首页</a></li>
            <li><a href= "/add">量化分查看</a></li>
            <li><a href="#">导出</a></li>
            <li><a href="#">成绩管理</a></li>
            <li><a href="#">获奖管理</a></li>
            <li><a href="/detelgrade">新建扣分</a></li>
            <li><a href="/dellog">扣分记录</a></li>
            <li><a href="/userpush">用户信息</a></li>
            <!-- <li><a href="/userpush">用户信息</a></li> -->
            <li><a href="#">ip限制</a></li>
            <li><a href="#">更新日志</a></li>
            <li><a href="#">意见反馈 </a></li>
        </ul>
    </div>
    <div>
        <h1>导出</h1>
        </div>
    </div>
</body>
</html>